@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import "tailwindcss";



 @theme{
  --color-background: #f5f6f9;
  --color-link-color: hsl(228, 45%, 44%);
  --color-dark-blue: hsl(212, 24%, 26%);
  --color-light-blue: hsl(212, 24%, 86%);
  --color-grayish-blue: hsl(211, 10%, 45%);
  --color-moderate-blue: hsl(238, 40%, 52%);
  --color-soft-grayish-blue: hsl(239, 57%, 85%);
  --color-pale-red: hsl(357, 100%, 70%);
  --color-light-gray: hsl(223, 19%, 96%);
  --color-very-light:hsl(228, 33%, 97%);
 }
 @layer components{
  body{
    background-color: var(--color-background);
  }
 }